.App {
  text-align: center;
}

.home-top{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: #121111;
}

.home-medium{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
  background-color: rgb(249, 249, 249);
}

.home-bottom{
  width: 100%;
  height: 400px;
  background-color: #f31f1fce;
  background-image: url(./assets/marvel.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}