.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 80px;
    margin-left: 2px;
    background-image: url(../../assets/marvel.png);
    background-repeat:no-repeat;
    background-size:contain;
    color:#ffffff
}